/* font-family: 'Niconne', cursive;
font-family: 'Goudy Bookletter 1911', serif;
font-family: 'Qwigley', cursive;
font-family: 'Sofia', cursive; */

* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body
{
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 15px;
    position: relative;
    width: 100vw;  
    min-width: fit-content;
}

.navbar{
    font-family: 'Sofia', cursive;
    font-size: 15px;
}

.navbar-img{
    max-width: 100%;
    max-height: 20px;
}

.btn-outline-success {
    color: #572c0a !important;
    border-color: #572c0a !important;
}

.carousel-caption {
    font-family: 'Niconne', cursive;
    color: #2b0a1a !important;
    padding-top: 10px;
}
.carousel-caption > p1{
    padding-top:25px;
    font-size: 30px;
    font-family: 'Goudy Bookletter 1911', serif;
}
.carousel-item {
    position: relative;
    display: block !important;
    min-width: 100%;
    height:auto;
}

.carousel-img{
    min-width: 100%;
    height:auto;
    opacity:0.5;
}

.card{
    display:inline-block;
    border-radius: 0;
    margin-bottom: 20px !important;
    margin-top: 120px !important;
    min-height: 470px;
    box-shadow: 5px 5px 15px #704426;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

.card-topic, .card-author{
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 17px;
}

.card-title{
    font-family: 'Sofia', cursive; 
    min-height:50px;
    text-decoration:none !important;
    color: #241004;
}

.card-title:hover, .card-title:visited, .card-title:link, .card-title:active{
    color: #fff;
}

.card-text{
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 15px;
    color: #704426;
}

.d-block{
    max-height:350px !important;
}

.img-fluid{
    max-height: 200px;
    margin-top: -100px;
}

.card:hover{
    background: #916e56;
    color: #fff;
    border-radius: 5px;
    border:none;
    box-shadow: 5px 5px 10px #9e9e9e;
}

.h6, h6{
    min-height: 36px;
}
.p{
    margin-top: 10px;
    height: 170px;
    margin-bottom: 0;
}

#btn{
    margin-bottom: 0;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .1em;
    font-size: .8em;
    display: inline-block;
    border: none;
    border-radius: 0;
    padding: 1em 2em;
    color: #704426;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    opacity: .9999999;
    text-align: center;
    overflow: hidden;
    font-family: 'Sofia', cursive; 
    background-color: wheat !important;
}

.scene {
    width:14em;
    height:14em;
    -webkit-perspective: 700px;
    -moz-perspective: 700px;
    perspective: 700px;
    margin-top: 30rem;
    margin-bottom: 5em;
    margin-left: auto;
    margin-right: auto;
    perspective-origin:50% -200px;
}

.cube {
    display: inline-block;
    width:100%;
    height:100%;
    position:relative;
    animation: spinning 15s infinite;
    transform-style:preserve-3d;
    -moz-animation-name: rotate;
  
}

@keyframes spinning {
  from  { transform: translateZ(-5em) rotateY(0deg);   }
  to    { transform: translateZ(-5em) rotateY(360deg); }
}

.face {
  width:100%;
  height:100%;
  position:absolute;    
  border:none;
  background-color:rgba(3, 121, 255, 0.5);
  color:#FFF;
  line-height:14em;
  text-align:center;
  font-family: serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.front  { 
    transform: rotateY(0deg) translateZ(7em); 
    background-image: url(Brick.jpg);
    opacity: 0.9;}
.right  { 
    transform: rotateY(90deg) translateZ(7em); background-image: url(Brick.jpg); 
    opacity: 0.9;}
.left   { 
    transform: rotateY(-90deg) translateZ(7em); 
    background-image: url(Brick.jpg) ;
    opacity: 0.9;}
.back   { 
    transform: rotateY(180deg) translateZ(7em); 
    background-image: url(Brick.jpg) ;
    opacity: 0.9;}
.top    { 
    transform: rotateX(90deg) translateZ(7em); 
    background-image: url(Brick.jpg) ;
    opacity: 0.9;}
.bottom { 
    transform: rotateX(-90deg) translateZ(7em); 
    background-image: url(Brick.jpg) ;
    opacity: 0.9;}

.footer {
    height: 50px;
    margin-top: -50px;
    flex-shrink: 0;
    }
.footer-img{
    display: block;
    max-width: 100%;
    height: auto;
    text-align: middle;
    border: 0;
}

.emailRegister {
    margin-bottom: 100px;
    margin-top: 100px;
    text-align: center;
}


.emailRegister .frmEmailRegister {
    text-align: center;
}

.emailRegister .frmEmailRegister>div:first-child {
    padding-bottom: 30px;
}

h3.subcribe, h3.latest {
    display: inline;
    font-family: 'Sofia', cursive; 
}

h3.subcribe{
    text-transform: lowercase;
    color: #704426;
    font-size: 35pt;
    z-index: 101;
    padding-left: 40px;
    padding-right: 40px
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px){
    .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
}
}

@media (min-width: 576px){
.col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
}
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-xs-12 {
    width: 100%;
}

.form-group, .form-check-label{
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 20px;
}

.form-check{
    margin-bottom: 17px;
}

h3.title {
    text-align: center;
    font-family: 'Sofia', cursive; 
    text-transform: lowercase;
    color: #965d1d;
    font-size: 20pt;
    text-align: center;
}

ul li a {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 14px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    color: #222 !important;
    text-decoration: none;
}

.fa-3x {
    font-size: 3em;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

p.icon a {
    color: wheat !important;
    padding: 5px;
}